<!--{% extends 'html/base.html' %}
{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="banner">
          <div class="banner-text">
            <h1>Add Task</h1>
          start
            <form class="p-3 shadow"method="POST">
              {% csrf_token%}
              <div class="form-group">
                <input type="text"class="form-control" name="name" id="name" placeholder="Enter your name">
              </div><br>
              <div class="form-group">
                <input type="text" class="form-control" name="priority" id="priority" placeholder="Enter your priority" >
              </div><br>
              <button class="btn btn-success" type="submit">Submit</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>

<form class="p-3 shadow"method="POST">
    {% csrf_token%}
    <div class="form-group">
    <input type="text"class="form-control" name="name" id="name" placeholder="Enter your name"></div><br>
    <div class="form-group">
    <input type="text" class="form-control" name="priority" id="priority" placeholder="Enter your priority" ></div><br>
    <button class="btn btn-success" type="submit">Submit</button>
  </form>-->

