{% extends 'html/base.html' %}
{% block body %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="banner">
          <div class="banner-text">
            <h1>Todo-List</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h4>Add Task</h4>
        <form class="p-3 shadow"method="POST">
          {% csrf_token%}
          <div class="form-group">
            <input type="text"class="form-control" name="name" id="name" placeholder="Enter your Todo task">
          </div><br>
          <div class="form-group">
            <input type="text" class="form-control" name="priority" id="priority" placeholder="Enter your priority" >
          </div><br>
          <div class="form-group">
            <input type="date"class="form-control" name="date" id="date" >
          </div><br>
          <button class="btn btn-success" type="submit">Submit</button>
        </form>
      </div>
    
      <div class="col-md-6">
        <h4>Task to be completed</h4> 
        {% for task in task_list %}
        <div class="shadow card">
          <div class="card-body">
            <h5 class="card-title"><b>{{task.name}}</b></h5>
            <p><b>priority: {{task.priority}}</b></p>
            <p><b>Date: {{task.date}}</b></p>
            <a href="{%url 'delete' task.id %}" class="btn btn-danger">Done/Delete</a>
            <a href="{%url 'update' task.id %}" class="btn btn-warning">Update</a>
          </div>
        </div> 
        <br>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock%}